body {
  background-image: url(assets/img/fondo.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}
.io {
  height: 100px;
  width: 100px;
  background-image: url(assets/img/depositphotos_115690172-stock-illustration-businessman-profile-colorful-avatar-over.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.noticias {
  background-image: url(assets/img/transformation-g0d755cf60_1920-768x400.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 300px;

}

.noticias2 {
  background-image: url(assets/img/descarga.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 300px;
}

h2 {
  font-family: sans-serif;
}

h5 {
  text-align: end;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

#reloj {
  text-align: right;
}